.Header-background{
  /*background-color: red;*/
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.Header-illustration{
  position: absolute;
  z-index: -1;
  top: -50px;
  /*left: 825px;*/
  height: 400px;
}
.Header-benefits{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  /*to count the margin and padding as the limit specified*/
  box-sizing: border-box;
  overflow: hidden;
}
.Header-benefits div:not(.Header-benefits-content){
 padding: 0px !important;
}
.Header-benefits-img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  /*max-width is the like flex-basic but for older browsers*/
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}
/*Does not allow overflow for img in its container*/
.Header-benefits-img img{
  max-width: 100%;
}
.Header-benefits-content{
  flex-basis: 60%;
  max-width: 60%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

.Header-main{
  margin-bottom: 2em;
  margin-left: -200px;
}

.container{
  width: 80%;
  margin: 0 auto;
}




